{% extends "main.html" %}
{% load static %}
 {% block content %}



<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active ">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{% static 'img/iphone13.pro.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>i-Phone</b> 13 pro max</h1>
                            <h3 class="h2">The Best i-phone yet !!</h3>
                            <p>
                                Super Retina XDR display with ProMotion 15.4 cm /
                                6.1‑inch (diagonal) all‑screen OLED display 2532x1170-pixel resolution at 460 ppi. 
                                The iPhone 13 Pro display has rounded corners 
                                that follow a beautiful curved design, and 
                                these corners are within a standard rectangle. 
                                When measured as a standard rectangular shape,
                                the screen is 15.40 centimetres / 6.06 inches
                                diagonally (actual viewable area is less).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item ">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{% static 'img/samsung22w.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1 text-success"><b>Samsung</b> Galaxy S22</h1>
                            <h3 class="h2">S22 more than just a <strong>PHONE......</strong></h3>
                            <p>
                                The S22 line consists of three devices.
                                The Galaxy S22 is the least expensive with a 6.1-inch (155 mm) screen.
                                The Galaxy S22+ has similar hardware in a larger form factor,
                                with a 6.6-inch (168 mm) screen, faster charging and a larger battery capacity.
                                The Galaxy S22 Ultra has a 6.8-inch (173 mm) screen 
                                and the largest battery capacity in the lineup, with a more
                                advanced camera setup and a higher resolution display compared to the 
                                S22 and S22+, as well as an embedded S Pen - the first in the S Series as a whole.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{% static 'img/google6pro.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1 text-success"><b>Google</b> pixel 6 pro</h1>
                            <h3 class="h2"> The cleanest android phone <strong>ever</strong></h3>
                            <p>
                                Interesting P-OLED bezel-less displayImpressive cameras on both 
                                endsPowerful Google Tensor chipsetMassive 12GB RAM5003mAh battery
                                with 30W Fast Charging and Wireless Charging128GB internal StorageIP68
                                Water-ResistantDustproofGorilla Glass protected front and back Verdict
                                Google Pixel 6 Pro, enables seamless multitasking and prolonged operations
                                 on the go. The device also promises detailed images and flawless visuals 
                                 for you to amp up your selfie game. It further gets IP68 water-resistant and
                                  dustproof ratings for extra safety.   
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Banner Hero -->


<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Categories for your needs</h1>
            <p>
               Choose your smart devices according to your needs, here we provide the best products for our customers.......
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="{% static 'img/iphone.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h5 class="text-center mt-3 mb-3">Smart Phones </h5>
            <p class="text-center">
                <a class="btn btn-success" href="{% url 'shop_smartphones' %}">
                    Go to Shop
                </a>
            </p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="{% static 'img/smartwatch.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Smart watches</h2>
            <p class="text-center">
                <a class="btn btn-success" href="{% url 'shop_smartwatches' %}" >
                    Go to Shop
                </a>
            </p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#">
                <img src="{% static 'img/tablet.jpg' %}" class="rounded-circle img-fluid border">
            </a>
            <h2 class="h5 text-center mt-3 mb-3">
                Tablets
            </h2>
            <p class="text-center">
                <a class="btn btn-success" href="{% url 'shop_tablets' %}">
                    Go to Shop
                </a>
            </p>
        </div>
    </div>
</section>
<!-- End Categories of The Month -->


<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Premium Products </h1>
                <p>
                    Top <strong>SELLING </strong> and <strong>TRUSTED</strong> devices in the last few years  are one step away from being 
                    yours as well.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="{% static 'img/gaming.jpg' %}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right"> from Rs.42500/-</li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">SAMSUNG</a>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                        </p>
                        <p class="text-muted">Reviews (24)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="{% static 'img/photography.jpg' %}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">from Rs.52500/-</li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">GOOGLE</a>
                        <p class="card-text">
                            Aenean gravida dignissim finibus. Nullam ipsum diam, posuere vitae pharetra sed, commodo ullamcorper.
                        </p>
                        <p class="text-muted">Reviews (48)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="{% static 'img/perfo .jpg' %}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">from Rs.72500/-</li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">APPLE</a>
                        <p class="card-text">
                            Curabitur ac mi sit amet diam luctus porta. Phasellus pulvinar sagittis diam, et scelerisque ipsum lobortis nec.
                        </p>
                        <p class="text-muted">Reviews (74)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Featured Product -->




<!-- Start Script -->



 {% endblock content %}