{% extends 'productmain.html' %}
{% load static %}

{% block content %}
    <!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <div class="col-lg-3">
            <h1 class="h2 pb-4"><strong style="color: grey;">Categories</strong></h1>
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                       <strong style="color: #001f3f;">Smart phones</strong>
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul class="collapse show list-unstyled pl-3">
                        <li><a class="text-decoration-none" href="#"><large style="color:#570a51;">Samsung</large> </a></li>
                        <li><a class="text-decoration-none" href="#"><large style="color: rgb(6, 109, 23);">Apple</large> </a></li>
                        <li><a class="text-decoration-none" href="#"><large style="color: blue;">Google</large> </a></li>
                        <li><a class="text-decoration-none" href="#"><large style="color: rgb(255, 0, 0);">Others</large> </a></li>
                    </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        <strong style="color: #001f3f;">Smart Watches</strong>
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                        <li><a class="text-decoration-none" href="#"><large style="color:#570a51;">Apple</large> </a></li>
                        <li><a class="text-decoration-none" href="#"><large style="color: rgb(6, 109, 23);;">Samsung</large> </a></li>
                        <li><a class="text-decoration-none" href="#"><large style="color: blue;">Google</large> </a></li>
                        <li><a class="text-decoration-none" href="#"><large style="color: rgb(255, 0, 0);">Others</large> </a></li>
                    </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        <strong style="color: #001f3f;"> Tablets</strong>
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseThree" class="collapse list-unstyled pl-3">
                        <li><a class="text-decoration-none" href="#"><large style="color:#570a51;">Apple iPads</large> </a></li>
                        <li><a class="text-decoration-none" href="#"><large style="color: rgb(6, 109, 23);;">Samsung Tabs</large> </a></li>
                        <li><a class="text-decoration-none" href="#"><large style="color: blue;">Xiomi</large> </a></li>
                        <li><a class="text-decoration-none" href="#"><large style="color: rgb(255, 0, 0);">Others</large> </a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="{% url 'shop' %}"><small style="color: blue;">All</small></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="{% url 'shop_smartphones' %}"><small style="color: rgb(255, 38, 0);">Smart phones</small></a>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none" href="{% url 'shop_smartwatches' %}"><small style="color: rgb(23, 153, 62);">Smart watches</small></a>
                        </li>
                        <li class="list-inline-item" >
                            <a class="h3 text-dark text-decoration-none" href="{% url 'shop_tablets' %}" > <small style="color: rgb(170, 36, 36);">Tablets</small></a>
                        </li>
                    </ul>
                </div>
               
            </div>
            <div class="row">
                {% for smartphone in smartphones %}
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" src="{{ smartphone.images.url }}">
                            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li>
                                    <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a></li>
                                    <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="{% url 'item' smartphone.name %}" class="h3 text-decoration-none">
                                <strong style="color: rgb(34, 124, 34);">{{ smartphone.brand}}</strong> {{smartphone.name}}  
                                <h6 >({{smartphone.storage}} gb)</h6>
                            </a>
                            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                              
                                <li class="pt-2">
                                    <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                </li>
                            </ul>
                            <ul class="list-unstyled d-flex justify-content-center mb-1">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                            </ul>
                            <p class="text-center mb-0">{{smartphone.price}} ₹</p>
                        </div>
                    </div>
                </div>
             {% endfor %}
             {% for smartwatch in smartwatches %}
             <div class="col-md-4">
                 <div class="card mb-4 product-wap rounded-0">
                     <div class="card rounded-0">
                         <img class="card-img rounded-0 img-fluid" src="{{ smartwatch.images.url }}">
                         <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                             <ul class="list-unstyled">
                                 <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li>
                                 <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a></li>
                                 <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>
                             </ul>
                         </div>
                     </div>
                     <div class="card-body">
                         <a href="{% url 'item' smartwatch.name%}" class="h3 text-decoration-none" >
                                <strong style="color: rgb(34, 124, 34);">{{ smartwatch.brand}}</strong>  
                                {{smartwatch.name}}
                                 <h6>({{smartwatch.size}} cm)</h6> 
                         </a>
                         <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                           
                             <li class="pt-2">
                                 <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                 <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                 <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                 <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                 <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                             </li>
                         </ul>
                         <ul class="list-unstyled d-flex justify-content-center mb-1">
                             <li>
                                 <i class="text-warning fa fa-star"></i>
                                 <i class="text-warning fa fa-star"></i>
                                 <i class="text-warning fa fa-star"></i>
                                 <i class="text-muted fa fa-star"></i>
                                 <i class="text-muted fa fa-star"></i>
                             </li>
                         </ul>
                         <p class="text-center mb-0">{{smartwatch.price}} ₹</p>
                     </div>
                 </div>
             </div>
          {% endfor %}
          {% for tablet in tabs %}
          <div class="col-md-4">
              <div class="card mb-4 product-wap rounded-0">
                  <div class="card rounded-0">
                      <img class="card-img rounded-0 img-fluid" src="{{ tablet.images.url }}">
                      <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                          <ul class="list-unstyled">
                              <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li>
                              <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a></li>
                              <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="card-body">
                      <a href="{% url 'item' tablet.name %}" class="h3 text-decoration-none">
                        <strong style="color: rgb(34, 124, 34);">{{ tablet.brand}} </strong>{{tablet.name}}  <h6>({{tablet.storage}} gb)</h6>
                        </a>
                      <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                        
                          <li class="pt-2">
                              <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                              <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                              <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                              <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                              <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                          </li>
                      </ul>
                      <ul class="list-unstyled d-flex justify-content-center mb-1">
                          <li>
                              <i class="text-warning fa fa-star"></i>
                              <i class="text-warning fa fa-star"></i>
                              <i class="text-warning fa fa-star"></i>
                              <i class="text-muted fa fa-star"></i>
                              <i class="text-muted fa fa-star"></i>
                          </li>
                      </ul>
                      <p class="text-center mb-0">{{tablet.price}} ₹</p>
                  </div>
              </div>
          </div>
       {% endfor %}

            </div>
            <!-- <div div="row">
                <ul class="pagination pagination-lg justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                    </li>
                </ul>
            </div> -->
        </div>

    </div>
</div>
<!-- End Content -->

<!-- Start Brands -->
<section class="bg-light py-5">
    <div class="container my-4">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Our Brands</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    Lorem ipsum dolor sit amet.
                </p>
            </div>
            <div class="col-lg-9 m-auto tempaltemo-carousel">
                <div class="row d-flex flex-row">
                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                            <i class="text-light fas fa-chevron-left"></i>
                        </a>
                    </div>
                    <!--End Controls-->

                    <!--Carousel Wrapper-->
                    <div class="col">
                        <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                            <!--Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End First slide-->

                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Second slide-->

                                <!--Third slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Third slide-->

                            </div>
                            <!--End Slides-->
                        </div>
                    </div>
                    <!--End Carousel Wrapper-->

                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class="text-light fas fa-chevron-right"></i>
                        </a>
                    </div>
                    <!--End Controls-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Brands-->

<!-- Start Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">PhonesBuy</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        Kadakkal, Kerala, India.
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:aromals302@gmail.com">aromals302@gmail.com</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Phones</a></li>
                    <li><a class="text-decoration-none" href="#">Smart Watches</a></li>
                    <li><a class="text-decoration-none" href="#">Tablets</a></li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">TOP COMAPANIES</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Samsung</a></li>
                    <li><a class="text-decoration-none" href="#">Apple</a></li>
                    <li><a class="text-decoration-none" href="#">Google </a></li>
                    <li><a class="text-decoration-none" href="#">OnePlus</a></li>
                    <li><a class="text-decoration-none" href="#">Asus</a></li>
                </ul>
            </div>

        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>
           
        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2022 
                        | Designed by <a rel="sponsored" href="" target="_blank">Aromal.S</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->

{% endblock content %}