{% extends 'productmain.html' %}
{% load static %}

{% block content %}
<div class="item_list">
    <div class="container">
        <div id="backTotop"><i class="fa fa-angle-up"></i></div>
        <div class="filter_item my-3">
            <div class="total_item">
                Total - <span>24 items</span>
            </div>
            <div class="filter_icons">
                <div class="list_thumb">
                    <i class="fa fa-th-list"></i>
                    <i class="fa fa-th-large"></i>
                </div>
                <div class="filter_option">
                    <select id="filter_option_">'
                        <option>Price: Low to High</option>
                        <option selected>Price: High to Low</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row fade-content">
            <div class="col-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card_header">
                        <img src="{% static 'img/product-images/1.jpg' %}">
                        <img src="images/16.jpg">
                    </div>
                    <div class="button_block">
                        <div class="item view"><i class="fa fa-eye"></i></div>
                        <div class="item wishlist"><i class="fa fa-heart-o"></i></div>
                        <div class="item compare"><i class="fa fa-signal"></i></div>
                    </div>
                    <div class="card_footer">
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <div class="price">
                            25.00$
                        </div>
                        <div class="add_to_cart">
                            <i class="fa fa-shopping-cart"></i>
                            Add To Cart
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card_header">
                        <img src="images/2.jpg">
                        <img src="images/15.jpg">
                    </div>
                    <div class="button_block">
                        <div class="item view"><i class="fa fa-eye"></i></div>
                        <div class="item wishlist"><i class="fa fa-heart-o"></i></div>
                        <div class="item compare"><i class="fa fa-signal"></i></div>
                    </div>
                    <div class="card_footer">
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <div class="price">
                            25.00$
                        </div>
                        <div class="add_to_cart">
                            <i class="fa fa-shopping-cart"></i>
                            Add To Cart
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card_header">
                        <img src="images/3.jpg">
                        <img src="images/14.jpg">
                    </div>
                    <div class="button_block">
                        <div class="item view"><i class="fa fa-eye"></i></div>
                        <div class="item wishlist"><i class="fa fa-heart-o"></i></div>
                        <div class="item compare"><i class="fa fa-signal"></i></div>
                    </div>
                    <div class="card_footer">
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <div class="price">
                            25.00$
                        </div>
                        <div class="add_to_cart">
                            <i class="fa fa-shopping-cart"></i>
                            Add To Cart
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card_header">
                        <img src="images/4.jpg">
                        <img src="images/13.jpg">
                    </div>
                    <div class="button_block">
                        <div class="item view"><i class="fa fa-eye"></i></div>
                        <div class="item wishlist"><i class="fa fa-heart-o"></i></div>
                        <div class="item compare"><i class="fa fa-signal"></i></div>
                    </div>
                    <div class="card_footer">
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <div class="price">
                            25.00$
                        </div>
                        <div class="add_to_cart">
                            <i class="fa fa-shopping-cart"></i>
                            Add To Cart
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card_header">
                        <img src="images/5.jpg">
                        <img src="images/12.jpg">
                    </div>
                    <div class="button_block">
                        <div class="item view"><i class="fa fa-eye"></i></div>
                        <div class="item wishlist"><i class="fa fa-heart-o"></i></div>
                        <div class="item compare"><i class="fa fa-signal"></i></div>
                    </div>
                    <div class="card_footer">
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <div class="price">
                            25.00$
                        </div>
                        <div class="add_to_cart">
                            <i class="fa fa-shopping-cart"></i>
                            Add To Cart
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card_header">
                        <img src="images/6.jpg">
                        <img src="images/11.jpg">
                    </div>
                    <div class="button_block">
                        <div class="item view"><i class="fa fa-eye"></i></div>
                        <div class="item wishlist"><i class="fa fa-heart-o"></i></div>
                        <div class="item compare"><i class="fa fa-signal"></i></div>
                    </div>
                    <div class="card_footer">
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <div class="price">
                            25.00$
                        </div>
                        <div class="add_to_cart">
                            <i class="fa fa-shopping-cart"></i>
                            Add To Cart
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card_header">
                        <img src="images/7.jpg">
                        <img src="images/10.jpg">
                    </div>
                    <div class="button_block">
                        <div class="item view"><i class="fa fa-eye"></i></div>
                        <div class="item wishlist"><i class="fa fa-heart-o"></i></div>
                        <div class="item compare"><i class="fa fa-signal"></i></div>
                    </div>
                    <div class="card_footer">
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <div class="price">
                            25.00$
                        </div>
                        <div class="add_to_cart">
                            <i class="fa fa-shopping-cart"></i>
                            Add To Cart
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card_header">
                        <img src="images/8.jpg">
                        <img src="images/9.jpg">
                    </div>
                    <div class="button_block">
                        <div class="item view"><i class="fa fa-eye"></i></div>
                        <div class="item wishlist"><i class="fa fa-heart-o"></i></div>
                        <div class="item compare"><i class="fa fa-signal"></i></div>
                    </div>
                    <div class="card_footer">
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <div class="price">
                            25.00$
                        </div>
                        <div class="add_to_cart">
                            <i class="fa fa-shopping-cart"></i>
                            Add To Cart
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card_header">
                        <img src="images/9.jpg">
                        <img src="images/8.jpg">
                    </div>
                    <div class="button_block">
                        <div class="item view"><i class="fa fa-eye"></i></div>
                        <div class="item wishlist"><i class="fa fa-heart-o"></i></div>
                        <div class="item compare"><i class="fa fa-signal"></i></div>
                    </div>
                    <div class="card_footer">
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <div class="price">
                            25.00$
                        </div>
                        <div class="add_to_cart">
                            <i class="fa fa-shopping-cart"></i>
                            Add To Cart
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card_header">
                        <img src="images/10.jpg">
                        <img src="images/16.jpg">
                    </div>
                    <div class="button_block">
                        <div class="item view"><i class="fa fa-eye"></i></div>
                        <div class="item wishlist"><i class="fa fa-heart-o"></i></div>
                        <div class="item compare"><i class="fa fa-signal"></i></div>
                    </div>
                    <div class="card_footer">
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <div class="price">
                            25.00$
                        </div>
                        <div class="add_to_cart">
                            <i class="fa fa-shopping-cart"></i>
                            Add To Cart
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card_header">
                        <img src="images/11.jpg">
                        <img src="images/2.jpg">
                    </div>
                    <div class="button_block">
                        <div class="item view"><i class="fa fa-eye"></i></div>
                        <div class="item wishlist"><i class="fa fa-heart-o"></i></div>
                        <div class="item compare"><i class="fa fa-signal"></i></div>
                    </div>
                    <div class="card_footer">
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <div class="price">
                            25.00$
                        </div>
                        <div class="add_to_cart">
                            <i class="fa fa-shopping-cart"></i>
                            Add To Cart
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card_header">
                        <img src="images/12.jpg">
                        <img src="images/3.jpg">
                    </div>
                    <div class="button_block">
                        <div class="item view"><i class="fa fa-eye"></i></div>
                        <div class="item wishlist"><i class="fa fa-heart-o"></i></div>
                        <div class="item compare"><i class="fa fa-signal"></i></div>
                    </div>
                    <div class="card_footer">
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <div class="price">
                            25.00$
                        </div>
                        <div class="add_to_cart">
                            <i class="fa fa-shopping-cart"></i>
                            Add To Cart
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card_header">
                        <img src="images/13.jpg">
                        <img src="images/3.jpg">
                    </div>
                    <div class="button_block">
                        <div class="item view"><i class="fa fa-eye"></i></div>
                        <div class="item wishlist"><i class="fa fa-heart-o"></i></div>
                        <div class="item compare"><i class="fa fa-signal"></i></div>
                    </div>
                    <div class="card_footer">
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <div class="price">
                            25.00$
                        </div>
                        <div class="add_to_cart">
                            <i class="fa fa-shopping-cart"></i>
                            Add To Cart
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card_header">
                        <img src="images/14.jpg">
                        <img src="images/4.jpg">
                    </div>
                    <div class="button_block">
                        <div class="item view"><i class="fa fa-eye"></i></div>
                        <div class="item wishlist"><i class="fa fa-heart-o"></i></div>
                        <div class="item compare"><i class="fa fa-signal"></i></div>
                    </div>
                    <div class="card_footer">
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <div class="price">
                            25.00$
                        </div>
                        <div class="add_to_cart">
                            <i class="fa fa-shopping-cart"></i>
                            Add To Cart
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card_header">
                        <img src="images/15.jpg">
                        <img src="images/5.jpg">
                    </div>
                    <div class="button_block">
                        <div class="item view"><i class="fa fa-eye"></i></div>
                        <div class="item wishlist"><i class="fa fa-heart-o"></i></div>
                        <div class="item compare"><i class="fa fa-signal"></i></div>
                    </div>
                    <div class="card_footer">
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <div class="price">
                            25.00$
                        </div>
                        <div class="add_to_cart">
                            <i class="fa fa-shopping-cart"></i>
                            Add To Cart
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}