{% extends "main.html" %}
{% load static %}
{% block content%}

<div class="container">
<h2>Shopping Cart</h2>
<div class="cart-page">
    <div class="cart-items">					
        <table>
            <thead>
                <tr>
                    <th colspan="3">Cart Items</th>
                </tr>
            </thead>
            <tbody>
                <form action="">
                <tr>
                    <td style="width: 20%;"><img src=""></td>
                    <td style="width: 60%;">
                        <h2>Product Title</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <br>
                        <h3>Price: Rs.1200</h3>
                        <br>
                        <a href="">x</a> Remove
                    </td>
                    <td class="qty" style="width: 15%;">

                        <br><br>
                        <h3>Rs.1200</h3>
                    </td>
                </tr>
            </form>
            </tbody>	
        </table>
    </div>
    <div class="cart-summary">
        <div class="checkout-total">
            <h3>Cart Summary</h3>
            <ul>
                <li>Number of Products x 15</li>
                <li>Number of items x 20</li>
                <hr>
                <li>Cart Total <span style="float: right;">Rs.1200</span></li>
                <li><a href="">Go to Checkout</a></li>
            </ul>
        </div>
    </div>
</div>		
</div>

{% endblock %}