<!DOCTYPE html>

<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Listing Page</title>
    <link rel="stylesheet" href="{% static 'css/products-css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/products-css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/products-css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/products-css/style.css' %}">
    <script src="{% static 'js/product-js/jquery3.1.0.min.js' %}"></script>
    
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
</head>
      
<body>


    <!-- Header -->
            <nav class="navbar navbar-expand-lg navbar-light shadow">
                <div class="container d-flex justify-content-between align-items-center">

                    <a class="navbar-brand text-success logo h1 align-self-center" href="{% url 'home' %}">
                        PhonesBuy
                    </a>

                    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                        <div class="flex-fill">
                            <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                                </li>
                              
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'shop' %}">Shop</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'login' %}">Sign In</a>
                                </li>
                            </ul>
                        </div>
                        <div class="navbar align-self-center d-flex">
                            <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                                    <div class="input-group-text">
                                        <i class="fa fa-fw fa-search"></i>
                                    </div>
                                </div>
                            </div>
                            <a class="nav-icon d-none d-lg-inline" href="{% url 'contact' %}" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                                <i class="fa fa-fw fa-search text-dark mr-2"></i>
                            </a>
                            <a class="nav-icon position-relative text-decoration-none" href="{% url 'contact' %}">
                                <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                                <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                            </a>
                            <a class="nav-icon position-relative text-decoration-none" href="#">
                                <i class="fa fa-fw fa-user text-dark mr-3"></i>
                                <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                            </a>
                        </div>
                    </div>

                </div>
            </nav>


    {% block content %}


    {% endblock content %}
    <script>
        function inViewport() {
            $(".fade-content > * ").each(function (i) {
                let bottom_of_object = $(this).offset().top + $(this).outerHeight() / 4;
                let bottom_of_window = $(window).scrollTop() + $(window).height();
                if (bottom_of_window > bottom_of_object) {
                    $(this).css({
                        "opacity": "1",
                        'transform': 'translateY(' + 0 + 'px)'
                    })
                    $(this).children(".card").children(".card_header").addClass("reveal");
                    $("#backTotop").css("right", "15px");
                }
                else {
                    $(this).css({
                        "opacity": "0",
                        'transform': 'translateY(' + 150 + 'px)'
                    })
                    $("#backTotop").css("right", "-100%");
                }
            });
        }
        $(window).on('scroll load', function () {
            inViewport()
        })
        $(window).resize(function () {
            inViewport();
        })

        //back to top 
        $("#backTotop").click(function () {
            $('body, html').animate({
                scrollTop: 0
            }, 800)
            return false;
        })
    </script>

</body>